<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       ">

    <bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="jedisConnectionFactory" />
    </bean>

    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <constructor-arg index="0" ref="redisSentinelConfiguration"/>
        <constructor-arg index="1" ref="jedisPoolConfig"/>
    </bean>

    <bean id="redisSentinelConfiguration" class="org.springframework.data.redis.connection.RedisSentinelConfiguration">
        <constructor-arg index="0" value="${billpay.redis.sentinel.master}"/>
        <constructor-arg index="1">
            <set>
                <value>${billpay.redis.sentinel.nodes1}</value>
                <value>${billpay.redis.sentinel.nodes2}</value>
            </set>
        </constructor-arg>
    </bean>

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${billpay.redis.pool.maxTotal}" />
        <property name="maxIdle" value="${billpay.redis.pool.maxIdle}" />
        <property name="maxWaitMillis" value="${billpay.redis.pool.maxWaitMillis}" />
        <property name="testOnBorrow" value="${billpay.redis.pool.testOnBorrow}" />
        <property name="testOnReturn" value="${billpay.redis.pool.testOnReturn}" />
    </bean>

</beans>