<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       ">

    <bean id="jedisPool" class="redis.clients.jedis.JedisPoolConfig">
        <!--最大连接数-->
        <property name="maxTotal"  value="${redis.maxActive}" />
        <!--最大空闲数-->
        <property name="maxIdle"   value="${redis.maxIdle}" />
        <!--建立连接最大等待时间-->
        <property name="maxWaitMillis" value="${redis.maxWait}" />
        <!--指明是否在从池中取出连接前进行检验,如果检验失败,则从池中去除连接并尝试取出另一个-->
        <property name="testOnBorrow" value="${redis.testOnBorrow}"/>
    </bean>
    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <constructor-arg index="0" ref="jedisPool" />
        <!--是否使用连接池-->
        <property name="usePool" value="true" />
        <!--Redis服务地址-->
        <property name="hostName" value="${redis.host}" />
        <!--Redis服务端口-->
        <property name="port" value="${redis.port}" />
        <!--客户端超时时间单位是毫秒-->
        <property name="timeout" value="${redis.timeout}" />
    </bean>
    <bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="jedisConnectionFactory" />
    </bean>

</beans>